<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDP5I5ATpgekxNx3qbkZP9xAsPs47myiV8</string>
	<key>GCM_SENDER_ID</key>
	<string>176300134015</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.habiTrack</string>
	<key>PROJECT_ID</key>
	<string>habitrack-5f7fd</string>
	<key>STORAGE_BUCKET</key>
	<string>habitrack-5f7fd.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:176300134015:ios:1234c4da5fac7d8c85394a</string>
</dict>
</plist>